<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Fab - Circulito para add un entrenamiento -->
  <ion-fab>
    <ion-fab-button id="tEx" expand="block">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <div *ngIf="allTrainings.length !== 0; else loading">
    <pre *ngFor="let t of allTrainings">
      {{t | json}}
    </pre>
  </div>
</ion-content>
<!-- Modal para  -->
<app-dialog [idTrigger]="'tEx'" [title]="'Añadir ejercicio...'">
  <app-add-exercise-form></app-add-exercise-form>
</app-dialog>


<ng-template #loading>
  <div class="center">
    <ion-spinner></ion-spinner>
  </div>
</ng-template>