<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="allTrainings.length !== 0; else loading">
    <pre>
      {{allTrainings | json}}
    </pre>
  </div>
</ion-content>

<ng-template #loading>
  <div class="center">
    <ion-spinner></ion-spinner>
  </div>
</ng-template>